@import "mixins";

.home {
  display: flex;
  gap: 24px;
  padding: 50px 20px;
  @include tablet {
    flex-direction: column;
    padding: 50px 0;
  }
  @include mobile {
    padding: 0;
  }
  .SideBar {
    width: 255px;
    @include tablet {
      width: 100%;
    }
  }
  .mainContainer {
    flex: 1;
  }
}
